<!DOCTYPE html>
<html lang="es">
<head>
    <!--CONFIGURACION-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Inetum es una compañía de IT ágil que proporciona servicios y soluciones digitales y un grupo global que ayuda a compañías e instituciones a aprovechar al máximo el flow digital.">
    <title>CONTACTO</title>
    <!--CSS-->
    <link rel="stylesheet" href="../css/estilos.css">
    <!--FAVICON-->
    <link rel="icon" href="../favicon.ico" type="imagen/png">
</head>
<body>
    <header>
        <!--CONTENIDO-->
        <img src="../assets/images/inetum1.jpg" alt="Logo Inetum" width="300" height="100">
        <!--nav: Barra de navegación-->
        <nav>
            <!--lista desordenada para el menú-->
            <ul id="indice">
                <li class="lista1"><a class="menu" href="../index.html">Inicio</a></li>
                <li class="lista1"><a class="menu" href="../views/productos.html">Galería</a></li>
                <li class="lista1"><a class="menu" href="../views/presupuestos.html">Presupuestos</a></li>
                <li class="lista1"><a class="menu" href="../views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Ubicación de nuestros centros</h1>
        <!--Enlaces de ubicación-->
        <div class="ubicacion">
            <h2>Madrid</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12137.678502752073!2d-3.674923912949953!3d40.488102969708436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422bd5b08a772d%3A0x92de52055d5c8f2d!2sInetum!5e0!3m2!1ses!2ses!4v1674155858517!5m2!1ses!2ses" width="500" height="450" style="border:0;"></iframe>
        </div>
        <div class="ubicacion">
            <h2>Barcelona</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47880.346554273!2d2.137777758203125!3d41.40619339999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a3724a376807%3A0xbd2b23f8aa11dcc5!2sInetum!5e0!3m2!1ses!2ses!4v1674156933763!5m2!1ses!2ses" width="500" height="450" style="border:0;"></iframe>
        </div>
        <div class="ubicacion">
            <h2>Bilbao</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5810.530184126589!2d-2.947170071651919!3d43.2668218665456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e5028af9d2247%3A0x59f39a27e6b952e7!2sInetum%20Norte%20Sociedad%20Limitada!5e0!3m2!1ses!2ses!4v1674157047795!5m2!1ses!2ses" width="500" height="450" style="border:0;"></iframe>
        </div>
        <div class="ubicacion">
            <h2>Valencia</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3080.1545374526195!2d-0.361255084632773!3d39.46583737948691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6048a5d7237131%3A0x16a0b4c4bfeee03e!2sInetum!5e0!3m2!1ses!2ses!4v1674586915613!5m2!1ses!2ses" width="500" height="450" style="border:0;"></iframe>
        </div>
    </main>
    <footer>
        <!--Pie de página-->
        <h2>Inetum</h2>
        <div id="caja4">
            <img src="../assets/images/direccion.jpg" alt="dirección">
            Dirección: C/ María de Portugal, 9-11 28050, Madrid
            <img src="../assets/images/telefono.jpg" alt="teléfono">
            Teléfono: +34 913874700
            <img src="../assets/images/siguenos.jpg" alt="síguenos">
            Síguenos: 
            <!--Imágenes con enlaces a las diferentes redes sociales-->
            <a href="https://twitter.com"><img src="../assets/images/twitter.jpg" alt="twitter"></a> 
            <a href="https://www.facebook.com"><img src="../assets/images/facebook.jpg" alt="facebook"></a> 
            <a href="https://www.linkedin.com"><img src="../assets/images/linkedin.jpg" alt="linkedin"></a> 
            <a href="https://www.youtube.com/"><img src="../assets/images/youtube.jpg" alt="youtube"></a>  
            <a href="https://www.instagram.com"><img src="../assets/images/instagram.jpg" alt="instagram"></a> 
            Aviso Legal
        </div>
    </footer>
</body>
</html>